@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

input {
    outline: none;
}

@layer components {
    .green1 {
        @apply bg-[#6E8782]
    }
    .green2 {
        @apply bg-[#E2EACE]
    }
    .green3 {
        @apply bg-[#6DADA8]
    }

    .dpflex {
        @apply flex justify-center items-center
    }
    .dpflex-col {
        @apply flex flex-col justify-center items-center
    }

    .startInputBox {
        @apply w-full h-auto py-2 flex flex-col items-start space-y-3 border-b-2 border-solid text-lg focus-within:border-b-[#6DADA8]
    }
    .startInputBox .title {
        @apply text-xl
    }

    /* enterJoin */
    .enterJoinInput {
        @apply w-full bg-gray-200 px-3 py-2 text-slate-700 placeholder:text-slate-500 rounded-lg
    }
}
